<%= @rails_env %>:
  adapter: <%= @database['adapter'] %>
  host: <%= @database['host'] %>
  database: <%= @database['database'] %>
  username: <%= @database['username'] %>
  password: <%= @database['password'] %>
  reconnect: true
  encoding: <%= @database.has_key?('encoding') ? @database['encoding'] : 'utf8' %>
  <% if @database.has_key?('charset') %>
  charset:  utf8mb4
  <% end %>
  <% if @database.has_key?('collation') %>
  collation:  utf8mb4_general_ci
  <% end %>
