<%
set_env = Proc.new do
	(@env||{}).map do |key,val|
		"#{key.upcase}=#{val}"
	end.join(' ')
end
 %>
check process aux_push_notify
  with pidfile <%= @deploy_to %>/current/tmp/pids/aux_push_notify.pid
  start program = "/usr/bin/env HOME=/home/<%= @user %> PATH=/usr/local/bin:/usr/local/ruby/bin:/usr/bin:/bin:$PATH /bin/sh -l -c 'cd <%= @deploy_to %>/current; PUSH_SLEEP=2 RAILS_ENV=production <%= set_env.call %> PIDFILE=tmp/pids/aux_push_notify.pid nohup bundle exec rake environment aux:push_notification  >> log/aux_push_notify.log 2>&1'" as uid <%= @user %> and gid <%= @group %>
  stop program = "/bin/sh -c 'cd <%= @deploy_to %>/current && kill -9 $(cat tmp/pids/aux_push_notify.pid) && rm -f tmp/pids/aux_push_notify.pid; exit 0;'"
  if totalmem is greater than 300 MB for 10 cycles then restart  # eating up memory?
  group resque_workers
