#!/usr/bin/env bash
export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games
cd <%= @deploy_to %>/current
RAILS_ENV=production bundle exec rake aux:push_notification >> <%= @deploy_to %>/shared/log/cron.log 2>&1
