<%
set_env = Proc.new do
	(@env||{}).map do |key,val|
		"#{key.upcase}=#{val}"
	end.join(' ')
end
 %>
check process resque_worker_QUEUE
  with pidfile <%= @deploy_to %>/current/tmp/pids/resque_worker_QUEUE.pid
  start program = "/usr/bin/env HOME=/home/<%= @user %> PATH=/usr/local/bin:/usr/local/ruby/bin:/usr/bin:/bin:$PATH /bin/sh -l -c 'cd <%= @deploy_to %>/current; RAILS_ENV=production <%= set_env.call %> QUEUE=<%= @queues || '*' %> VERBOSE=1 PIDFILE=tmp/pids/resque_worker_QUEUE.pid nohup bundle exec rake environment resque:work  >> log/resque_worker_QUEUE.log 2>&1'" as uid <%= @user %> and gid <%= @group %>
  stop program = "/bin/sh -c 'cd <%= @deploy_to %>/current && kill -9 $(cat tmp/pids/resque_worker_QUEUE.pid) && rm -f tmp/pids/resque_worker_QUEUE.pid; exit 0;'"
  if totalmem is greater than 300 MB for 10 cycles then restart  # eating up memory?
  group resque_workers
